.github-calendar-item {
  width: 3.4px;
  height: 3.4px;
}

@media screen and (min-width: 500px) {
  .github-calendar-item {
    width: 4.8px;
    height: 4.8px;
  }
}

@media screen and (min-width: 500px) {
  .github-calendar-item {
    width: 5.6px;
    height: 5.6px;
  }
}

@media screen and (min-width: 740px) {
  .github-calendar-item {
    width: 9.4px;
    height: 9.4px;
  }
}

@media screen and (min-width: 900px) {
  .github-calendar-item {
    width: 11px;
    height: 11px;
  }
}

@media screen and (min-width: 900px) {
  .github-calendar-item {
    width: 13px;
    height: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .github-calendar-item {
    width: 10px;
    height: 10px;
  }
}